= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :email, 'Email'
    = f.text_field :email, class: 'form-control'
  .form-group
    = f.label :name, 'Nome'
    = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :password, 'Senha'
    = f.password_field :password, class: 'form-control', autocomplete: 'new-password'
  .form-group
    = f.label :role, 'Candidato ao cargo de:'
    = f.collection_select :role_id, Role.all, :id, :title, include_blank: 'nenhum'
  .form-group
    = f.submit 'Salvar', class: 'btn btn-primary'
