.float-right= link_to 'Criar Usuário', new_user_path, class: 'btn btn-success'
%h1 Lista de Usuários

- if notice
  .alert.alert-success= notice

%table.table
  %thead
    %tr
      %th Email
      %th Nome
      %th Cargo
      %th Votou?
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.email
        %td= user.name
        %td= user.role
        %td.text-center
          - if user.votes?
            %h3.text-success.mb-0 &#x2713;
        %td= link_to 'Editar', edit_user_path(user)
        %td= link_to 'Excluir', user, :method => :delete, :data => { :confirm => 'Tem Certeza?' }

