= form_for @role do |f|
  - if @role.errors.any?
    #error_explanation
      %h2= "#{pluralize(@role.errors.count, "error")} prohibited this role from being saved:"
      %ul
        - @role.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, 'Título'
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.submit 'Salvar', class: 'btn btn-primary'
