.float-right= link_to 'Criar Cargo', new_role_path, class: 'btn btn-success'

%h1 Lista de Cargos

%table.table
  %thead
    %tr
      %th Título
      %th
      %th
      %th

  %tbody
    - @roles.each do |role|
      %tr
        %td= role.title
        %td= link_to 'Exibir', role
        %td= link_to 'Editar', edit_role_path(role)
        %td= link_to 'Excluir', role, :method => :delete, :data => { :confirm => 'Tem Certeza?' }

